@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 115 179;
  --color-secondary: 111 114 185;

  /* --home-gradient-color: 75, 135, 133, 0.54; */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
